<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudNameBox">
            <h2>CAMPFIRE</h2>
        </div>
        <div class="hudBox campfireHud">
            <div class="containerFlex">
                <div class="ingredientContainer starterContainer" title="Matches" style="background-image:url('/Images/Items/matches.png')">
                    <p class="containerDescription">Starter</p>
                </div>
                <div class="ingredientContainer tinderContainer" title="Tree bark" style="background-image:url('/Images/Items/tree_bark.png')">
                    <p class="containerDescription">Tinder</p>
                </div>
                <div class="ingredientContainer accelerantContainer" title="Low-grade Fuel" style="background-image:url('/Images/Items/low-grade_fuel.png')">
                    <p class="containerDescription">Accelerant<span>(Optional)</span></p>
                </div>
            </div>
            <div class="fuelContainer" title="Firewood" style="background-image:url('/Images/Items/firewood.png')">
                <p class="containerDescription">Fuel</p>
            </div>
            <div class="successNotice">Success rate :</div>
            <div class="igniteButton">
                Ignite
            </div>
        </div>
        <div class="hudBox charcoalContainer">
            <span class="containerDescription">Charcoal storage</span>
            <div class="containerFlex">
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
            </div>
        </div>
    </div>
</div>