<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudNameBox">
            <h2>DRYING RACK</h2>
        </div>
        <div class="hudBox dryingRackContainer">
            <div class="containerFlex fullWidthWrap">
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
            </div>
        </div>
    </div>
</div>