<div class="scaleWrap fatRenderSection">
    <div class="hudElementsFrame">
        <div class="hudBox fatRenderHud">
            <h2>FAT RENDER</h2>
            <div class="containerFlex">
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
            </div>
            <div class="lowgradeIcon" style="background-image:url('/Images/Items/low-grade_fuel.png')"></div>
            <div class="fuelLimit">Up to 1.5 Liter</div>
        </div>
        <div class="hudBox generic4Container">
            <span>Storage</span>
            <div class="containerFlex">
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
            </div>
        </div>
        <div class="hudButtonBox">
            <div class="hudButton CookBtn hudButtonActive" data-target=".cookingPotSection">Cook</div>
            <div class="hudButton RenderFatBtn" data-target=".fatRenderSection">Render fat</div>
        </div>
    </div>
</div>