<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudBox hudInputBox">
            <p>Edit Tag : <span>Fridge_name</span></p>
        </div>
        <div class="hudBox fridgeContainer">
            <div class="containerFlex fullWidthWrap">
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
            </div>
        </div>
    </div>
</div>