<div class="scaleWrap">
    <div class="hudElementsFrame furnaceWidth">
        <div class="hudBox furnaceWrap">
            <div class="furnaceHeader">Metal melt managers</div>
            <div class="furnaceColumn columnOne">
                <div class="timer">Time :</div>
                <div class="containerFlex verticalFlex">
                    <div class="emptyContainer"></div>
                    <div class="emptyContainer"></div>
                    <div class="emptyContainer"></div>
                </div>
                
                <div class="valueContainer">
                    <span>value</span>
                </div>
                <div class="meltButton">Melt</div>
            </div>
            <div class="furnaceColumn columnTwo">
                <div class="timer">Time :</div>
                <div class="containerFlex verticalFlex">
                    <div class="emptyContainer"></div>
                    <div class="emptyContainer"></div>
                    <div class="emptyContainer"></div>
                </div>
                
                <div class="valueContainer">
                    <span>value</span>
                </div>
                <div class="meltButton">Melt</div>
            </div>
            <div class="furnaceColumn columnThree">
                <div class="timer">Time :</div>
                <div class="containerFlex verticalFlex">
                    <div class="emptyContainer"></div>
                    <div class="emptyContainer"></div>
                    <div class="emptyContainer"></div>
                </div>
                
                <div class="valueContainer">
                    <span>value</span>
                </div>
                <div class="meltButton">Melt</div>
            </div>
        </div>
    </div>
</div>