<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudBox genericHud">
            <h3>Working queue</h3>
        </div>
        <div class="hudBox generic4Container">
            <span>Storage</span>
            <div class="containerFlex">
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
            </div>
        </div>
    </div>
</div>