<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudBox hudInputBox">
            <p>Edit Tag : <span>Generator_name</span></p>
        </div>
        <div class="hudBox generatorContainer">
            <div class="containerFlex fullWidthWrap">
                <div class="ingredientContainer accelerantContainer" title="Low-grade Fuel" style="background-image:url('/Images/Items/low-grade_fuel.png')">
                    <p class="containerDescription">Fuel</p>
                </div>
            </div>
        </div>
        <div class="hudButtonBox">
            <div class="whiteHudButton">Add fuel</div>
            <div class="whiteHudButton">Turn on</div>
        </div>
    </div>
</div>