<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudBox moonshineStill">
            <h2>Booze <span>x2</span></h2>
            <div class="alcoholIcon" style="background-image:url('/Images/Items/alcohol.png');">
            </div>
            <div class="materialNotice">Moonshine was originally a slang term for high-proof distilled spirits.</div>
            
            <div class="containerFlex">
                <div class="recipeIngredientContainer" style="background-image:url('/Images/Items/sugar.png')">
                    <p>2</p>
                </div>
                <div class="recipeIngredientContainer" style="background-image:url('/Images/Items/empty_bottle.png')">
                    <p>2</p>
                </div>
                <div class="recipeIngredientContainer waterContainer" style="background-image:url('/Images/Items/water.png')">
                    <p>10.0L</p>
                </div>
            </div>
        </div>
        <div class="hudBox cookingWaterTransfer">
            <div class="waterContainer" style="background-image:url('/Images/Items/water.png');">
            </div>
            <div class="transferAmount">
                <p>0.0L</p>
                <div class="arrowBox">
                    <div class="arrowUp"></div>
                    <div class="arrowDown"></div>
                </div>
            </div>
            <div class="structureWaterContainer" style="background-image:url('/Images/Items/bucket.png');">
            </div>
            <div class="giveWaterBtn">
                GIVE
            </div>
            <div class="MaxWaterNotice">10 Liter</div>
        </div>
        <div class="hudBox generic4Container">
            <span>Storage</span>
            <div class="containerFlex">
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
                <div class="emptyContainer"></div>
            </div>
        </div>
        
        <div class="hudButtonBox">
            <div class="hudButtonDistill">Distill</div>
        </div>
    </div>
</div>