<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudBox trashContainer">
            <div class="trashDiscardBox">
                <div class="dropItemText">Drop item to discard
                </div>
            </div>
        </div>
    </div>
</div>