<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudBox purifyWaterMaterial">
            <h2>Purify water</h2>
            <div class="materialNotice">Materials needed</div>
            
            <div class="containerFlex">
                <div class="recipeIngredientContainer" style="background-image:url('/Images/Items/matches.png')">
                    <p>1</p>
                </div>
                <div class="recipeIngredientContainer" style="background-image:url('/Images/Items/firewood.png')">
                    <p>4</p>
                </div>
                <div class="recipeIngredientContainer" style="background-image:url('/Images/Items/tree_bark.png')">
                    <p>4</p>
                </div>
            </div>
        </div>
        <div class="hudBox cookingWaterTransfer">
            <div class="waterContainer" style="background-image:url('/Images/Items/water.png');">
            </div>
            <div class="transferAmount">
                <p>0.0L</p>
                <div class="arrowBox">
                    <div class="arrowUp"></div>
                    <div class="arrowDown"></div>
                </div>
            </div>
            <div class="structureWaterContainer" style="background-image:url('/Images/Items/bucket.png');">
            </div>
            <div class="giveWaterBtn">
                GIVE
            </div>
            <div class="MaxWaterNotice">16 Liter max</div>
        </div>

        <div class="hudBox cookingWaterTransfer">
            <div class="waterContainer" style="background-image:url('/Images/Items/water.png');">
            </div>
            <div class="safeWaterNotice">
                safe water
            </div>
            <div class="structureWaterContainer" style="background-image:url('/Images/Items/bucket.png');">
            </div>
            <div class="takeWaterBtn">
                TAKE
            </div>
        </div>
        
        <div class="hudButtonBox">
            <div class="hudButtonDistill">Distill</div>
        </div>
    </div>
</div>