<div class="scaleWrap">
    <div class="hudElementsFrame">
        <div class="hudBox waterBarrelTransfer">
            <div class="waterContainer" style="background-image:url('/Images/Items/water.png');">
            </div>
            <div class="structureWaterContainer" style="background-image:url('/Images/Structures/water_barrel.png');">
            </div>
            <div class="giveWaterBtn">
                GIVE
            </div>
            <div class="takeWaterBtn">
                TAKE
            </div>
            <div class="waterCapacity">Barrel Capacity</div>
            <div class="capacityBar"></div>
            <div class="MaxWaterNotice">100.0</div>
            <div class="waterStatus">Water status : </div>
        </div>
    </div>
</div>