<% layout('/api-main') -%>

<p style="text-align: center;"><img src="/Images/easy_mist_logo.png" /></p>
<hr />
<a href="/api/items"><button class="bigButton">Items</button></a>
<a href="/api/structures"><button class="bigButton">Structures</button></a>
<a href="/api/updates"><button class="bigButton">Updates</button></a>
<a href="/api/reports"><button class="bigButton">Reports</button></a>
<hr />
<a href="/api/recipes"><button class="bigButton">Crafting recipes</button></a>
<a href="/api/buildingrecipes"><button class="bigButton">Building recipes</button></a>
<a href="/api/upgraderecipes"><button class="bigButton">Upgrade recipes</button></a>
<a href="/api/itemrepairs"><button class="bigButton">Item repair recipes</button></a>
<a href="/api/harvests"><button class="bigButton">Harvests</button></a>
<hr />