<div class="modal" id="mapModal" style="display:none;">
    <div class="modalContent">
        <div class="modalHeader">
            <h2>Work in progress</h2>
            <div class="closeModal">&#10006;</div>
        </div>
        <div class="modalBody">
            <p>
                Map is currently in development and will be available soon!
                <br />
                I apologize for the inconvenience and thank you for your support!
            </p>
        </div>
        <div class="modalFooter">
        </div>
    </div>
</div>